.body p {
  margin-bottom: 20px;
}

.body h4,
.body h3 {
  margin: 28px 0 12px;
}

.body ul,
.body ol {
  margin: 0 0 20px 22px;
}

.body ul {
  list-style: disc;
}

.body ol {
  list-style: decimal;
}

.body li {
  margin-bottom: 8px;
}

.sidebarSpacer {
  height: 30px;
}
